extends layout

block content
    h1 Thanks for registering for PPP!
    h3 
        | Feel free to contact    
        a.email(href='mailto:highunite@homeschool.global') highunite@homeschool.global
        |  for any questions.
    br
    h2 Your team is...
    .teamName= teamName
